@model BackOfficeLibrary.DonateDetailsViewModel
@using System.Globalization;

@{
    var _cultureEN = new CultureInfo("th-TH");
}

<div id="DonateDetail" class="offcanvas offcanvas-info offcanvas-end mobile-offcanvas" tabindex="-1" aria-labelledby="DonateDetailLabel">
    <div class="offcanvas-body">
        <div class="row mb-3">
            <div class="col-7">
                <h4>รายละเอียดการบริจาค</h3>
            </div>
            <div class="col-5 text-end">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="col-12">
                <div class="row mt-4">
                    <div class="col-lg-3 col-6 mt-2">
                        <label class="form-label fw-semibold">@localize["Student_Id"]</label>
                        <div>@Model.Code</div>
                    </div>
                    <div class="col-lg-3 col-6 mt-2">
                        <label class="form-label fw-semibold">@localize["FullName"]</label>
                        <div>@Model.FullName</div>
                    </div>
                    <div class="col-lg-3 col-6 mt-2">
                        <label class="form-label fw-semibold">@localize["Year"] / @localize["Term"]</label>
                        <div>@Model.SchoolYear / @Model.Term</div>
                    </div>
                    <div class="col-lg-3 col-6 mt-2">
                        <label class="form-label fw-semibold">@localize["Grade_Level"]</label>
                        <div>@Model.GradeLevel</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-6 mt-2">
                        <label class="form-label fw-semibold">@localize["Amount"]</label>
                        <div>@Model.Donate?.ToString("N2") @localize["Baht"]</div>
                    </div>
                    <div class="col-lg-3 col-6 mt-2">
                        <label class="form-label fw-semibold">ชื่อผู้บริจาค</label>
                        <div>@Model.Donate_Name</div>
                    </div>
                    <div class="col-lg-3 col-6 mt-2">
                        <label class="form-label fw-semibold">วันที่ทำรายการ</label>
                        <div>@Model.DonateDate?.ToString("dd/MMM/yyyy")</div>
                    </div>
                    <div class="col-lg-3 col-6 mt-2">
                        <label class="form-label fw-semibold">เวลาที่ทำรายการ</label>
                        <div>@Model.DonateDate?.ToString("HH:mm")</div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-3 col-6 mt-2">
                        <label class="form-label fw-semibold">คุณครูผู้รับเงิน</label>
                        <div>@Model.Teacher_Name</div>
                    </div>
                    <div class="col-lg-3 col-6 mt-2">
                        <label class="form-label fw-semibold">ผู้ทำรายการ</label>
                        <div>
                            @if (Model.CreatedBy != null)
                            {
                                @Model.CreatedBy
                            }
                            else
                            {
                                @localize["NoData"]
                            }
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mt-2">
                        <label class="form-label fw-semibold">ช่องทางการทำรายการ</label>
                        <div>@Model.Channel_Name</div>
                    </div>
                </div>
                <div class="row">
                    <label class="form-label fw-semibold">หลักฐานการบริจาค</label>

                    <div class="col-lg-6 col-12 mt-2">
                        @if (!string.IsNullOrEmpty(Model.EvidenceImage))
                        {
                            <img src="@Url.Content($"~/{Model.EvidenceImage}")" alt="Proof of Payment Image"
                                class="img-fluid shadow-lg" style="width:300px; height:auto; border-radius:10px;" style="object-fit:cover;" />
                        }
                        else
                        {
                            <img src="~/uploads/no-image.jpg" alt="No Image" class="img-fluid shadow-lg"
                                style="width:200px; height:auto;" style="object-fit:cover;" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
