@using System.Globalization;

@{
    var _cultureEN = new CultureInfo("th-TH");
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-12 mb-3 mb-lg-0">
                <h3>
                    @localize["Donate"]
                </h3>
            </div>
            <div class="col-lg-6 col-12 text-end">
                <div class="d-flex flex-column flex-lg-row justify-content-center justify-content-lg-end gap-2">
                    <button class="btn btn-primary" type="button" onclick="CreateDonateFrom()">
                        @localize["btnCreate"]
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="box-shadow: none; border: 1px solid #DEE2E6 !important;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="font-weight-normal"
                                                style="font-size: 16px; color: #869099 !important">
                                                @localize["Search"]
                                            </label>
                                            <input type="text" class="form-control" id="donateSearchInput"
                                                placeholder="ชื่อ, นามสกุล, รหัสนักเรียน" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="font-weight-normal"
                                                style="font-size: 16px; color: #869099 !important">
                                                @localize["Year"]
                                            </label>
                                            <select class="form-control select2" id="schoolYears"
                                                asp-items="@(new SelectList(ViewBag.SchoolYearList, "Value", "Text"))"
                                                style="width: 100%;">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table id="tblDonate" class="table table-hover text-nowrap" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                วันที่บริจาค
                                            </th>
                                            <th class="text-center">
                                                รหัสนักเรียน
                                            </th>
                                            <th class="text-center">
                                                ชื่อ - นามสกุล
                                            </th>
                                            <th class="text-center">
                                                ชั้น
                                            </th>
                                            <th class="text-center">
                                                เทอม
                                            </th>
                                            <th class="text-center">
                                                ช่องทางการชำระเงิน
                                            </th>
                                            <th class="text-end">
                                                จำนวน (บาท)
                                            </th>
                                            <th class="text-cente">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="CreateDonateFrom"></div>

<div id="urlDefualt" data-request-url="@Url.Action("", "Donate")"></div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>
        let currentRequest = null;
        let searchTimer = null;
        if ($.fn.DataTable.isDataTable('#tblDonate')) {
            $('#tblDonate').DataTable().clear().draw().destroy();
        }
        $('#tblDonate').DataTable({
            /* "dom": 'Blfrtip',
            buttons: [
                {
                    orientation: 'portrait',
                    pageSize: 'LEGAL',
                    extend: 'excel',
                    footer: true,
                    className: 'btn btn-success'
 
                }
            ], */
            ajax: {
                url: '@Url.Action("GetDonateListDataTable", "Donate", new { area = "" })',
                type: 'POST',
                contentType: 'application/json',
                data: function (d) {

                    const queryData = {
                        Draw: 1,
                        Start: 0,
                        Length: 0,
                        Name: "",
                        Search: $("#donateSearchInput").val(),
                        SearchDate: "",
                        StartDate: "",
                        EndDate: "",
                        SortColumn: "",
                        SortOrder: "",
                        FilterBy: "",
                        schoolyear: $("#schoolYears").val()
                    };
                    return JSON.stringify(queryData); // ส่งข้อมูลในรูปแบบ JSON
                },
                dataSrc: function (json) {
                    return json.data || []; // รับข้อมูลจาก API และใช้ข้อมูลที่ส่งกลับมา
                },
                beforeSend: function (jqXHR, settings) {
                    // เก็บคำขอ AJAX
                    currentRequest = jqXHR;
                },
                complete: function (xhr, status) {
                    // หลังจากที่คำขอเสร็จสิ้น
                    currentRequest = null;  // รีเซ็ตตัวแปรคำขอ
                }, error: function (xhr, status, error) {
                    if (status === 'abort') {
                        console.log('คำขอถูกยกเลิก');
                    } else {
                        console.log('เกิดข้อผิดพลาด: ' + error);
                    }
                }
            },
            "columns": [
                {
                    data: "donateDate",
                    className: "text-center",
                    render: function (data, type, row) {
                        if (type === "display") {
                            return moment(data).format("DD/MM/YYYY");
                        }
                        if (type === 'filter') {
                            return moment(data).format("DD/MM/YYYY"); // ให้ search แบบนี้
                        }
                        return moment(data).format("YYYYMMDD"); // ใช้รูปแบบ YYYYMMDD สำหรับ sorting
                    },
                },
                {
                    data: "code",
                    className: "text-center",
                },
                {
                    data: "fullName",
                    className: "text-center",
                },
                {
                    data: "gradeLevel",
                    className: "text-center",
                },
                {
                    data: "term",
                    className: "text-center",
                },
                {
                    data: "donateChannel",
                    className: "text-center",
                },
                {
                    data: "amount",
                    className: "text-end",
                    render: function (data, type, row) {
                        return data.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                    }
                },
                {
                    data: null,
                    orderable: false,
                    className: "text-center",
                    render: function (data, type, row) {
                        // base URL ที่สร้างจาก Razor
                        var url = '@Url.Action("Detail", "Donate", new { area = "" })' + '/' + row.uuid;

                        return `<a href="${url}" class="btn btn-default"><i class="bi bi-eye"></i></a>`;
                    }
                }
            ],
            /* "rowGroup": {
            dataSrc: function (row) {
                  return moment(row.donateDate).format('DD/MM/YYYY');// จัดกลุ่มตามคอลัมน์วันที่
              },
              "startRender": function (rows, group) {
                  var $td = $('<td>').addClass('bg-transparent text-primary').text(group);
                  return $('<tr>').append($td);
              } 
          },*/
            "deferRender": true,
            "paging": true, // เปิดใช้งาน Pagination
            "lengthChange": true, // เปิดการเลือกจำนวนข้อมูลที่จะแสดงต่อหน้า
            "searching": false, // ปิดการใช้งานช่องค้นหาข้อมูล
            "ordering": true, // เปิดใช้งานการเรียงลำดับข้อมูลในแต่ละคอลัมน์
            "info": true, // แสดงข้อมูลเกี่ยวกับจำนวนแถวที่แสดงในตาราง เช่น "Showing 1 to 10 of 50 entries"
            "autoWidth": false, // ปิดการตั้งค่าความกว้างคอลัมน์อัตโนมัติ
            "responsive": false, // ปิดการใช้งาน Responsive (เมื่อปิดแล้วจะไม่แสดงปุ่ม "+" บนหน้าจอที่ย่อขนาดลง)
            "order": [[0, 'desc']], // ตั้งค่าเริ่มต้นในการเรียงลำดับข้อมูลที่คอลัมน์แรก
            //"pageLength": 20, // กำหนดจำนวนรายการข้อมูลต่อหน้า
            "searchDelay": 500,
            "lengthMenu": [
                [20, 50, 100, 500, -1],
                [20, 50, 100, 500, "All"],
            ],
            "language": {
                "search": "_INPUT_",
                "searchPlaceholder": "ค้นหา...",
                "paginate": {
                    "previous": "ก่อนหน้า",
                    "next": "ถัดไป"
                },
                "zeroRecords": "ไม่พบข้อมูล",
                "info": "แสดง _START_ ถึง _END_ จาก _TOTAL_ รายการ",
                "infoEmpty": "ไม่มีข้อมูล",
            },
            "drawCallback": function () { // ฟังก์ชันที่ถูกเรียกทุกครั้งที่ตารางมีการวาดใหม่ เช่น เมื่อเปลี่ยนหน้า เรียงลำดับ หรือกรองข้อมูล
                /*$('#tblDonate thead th').find('i').remove(); // Remove existing icons*/
                /* Add Icon */
                /* $('#tblDonate thead th').each(function () {
                    if ($(this).hasClass('sorting_asc')) { $(this).append('<i class="fa fa-angle-down"></i>'); }
                    else if ($(this).hasClass('sorting_desc')) { $(this).append('<i class="fa fa-angle-up" style=""></i>'); }
                    else if ($(this).hasClass('sorting_disabled')) { $(this).append('<span>&nbsp;</span>'); }
                    else { $(this).append('<i class="fa fa-angle-up" style="opacity: 0.5;"></i>'); } // Default icons
                });*/

                var tableEl = document.getElementById("tblDonate");

                // ตรวจว่ามี div ครอบอยู่แล้วหรือยัง
                if (!tableEl.parentElement.classList.contains("table-responsive")) {
                    var wrapper = document.createElement("div");
                    wrapper.className = "table-responsive";

                    // ย้าย table เข้า div
                    tableEl.parentNode.insertBefore(wrapper, tableEl);
                    wrapper.appendChild(tableEl);
                }
            }
        });

        $('#schoolYears').change(function () {
            $('#tblDonate').DataTable().ajax.reload(); // โหลด DataTable ใหม่ด้วยค่า filter ปัจจุบัน
        });

        $('#donateSearchInput').on('keyup', function () {
            clearTimeout(searchTimer);

            searchTimer = setTimeout(function () {
                $('#tblDonate').DataTable().ajax.reload();
            }, 400); // debounce กันยิงรัว
        });
    </script>

    <script src="~/js/donate/_donate.js" asp-append-version="true"></script>
}